<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
       <add key="cmsp-code" value="012" />
       <add key="cmoi-iban" value="PT505823456287541987" />
       <add key="cmoi-nif" value="0547474111" />
       <add key="grpc-api" value="localhost:5000" />
   </appSettings>
</configuration>