
ValidationServiceClient/\.vs/

ValidationServiceClient/bin/

ValidationServiceClient/obj/

CMOIValidationService/bin/

CMOIValidationService/obj/

Validator/obj/

Validator/bin/

TMAISRemoteAPI/obj/

CMOIValidationService/\.vs/
